.App {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  flex: 3;
  background-color: #171717;
}

.main {
  flex: 9;
}

.upperSide {
  padding: 1.5rem;
  height: 90%;
}

.logo {
  height: 2rem;
}

.brand {
  font-size: 1.2rem;
}

.upperSideTop {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2.5rem;
}

/* Button */

.add-btn {
  height: 1rem;
  padding-right: 1rem;
}

.newChat-btn {
  background: #212121;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 0.9rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.query {
  display: flex;
  align-items: center;
  background: transparent;
  padding: 1rem;
  width: 20rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: 1px solid #212121;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
}

.query > img {
  margin-right: 1rem;
}

.prev-conversation {
  margin-left: 0.5rem;
}

.prev-conversation p {
  font-size: 0.8rem;
  margin-top: 3rem;
  font-weight: 400;
}

.prev-conversation h1 {
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 2rem;
}

.lowerSide {
  padding: 1rem;
  height: 10%;
}

.list-items {
  /* margin: 0.75rem; */
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.list-items-contents h3 {
  font-size: 0.9rem;
}

.list-items-contents p {
  font-size: 0.7rem;
  color: gray;
}

.listItemsImg {
  margin: 1rem;
}

.chat img {
  object-fit: cover;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

/* MAIN */

.main {
  min-height: calc(100vh - 19rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 10rem;
  margin-bottom: 0;
}

.chat-container {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 70rem;
  height: calc(100vh - 15rem);
}

.chat {
  margin: 1rem;
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}

.bot {
  background: #2f2f2f;
  width: fit-content;
  border-radius: 0.5rem;
}

.chat-footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat p {
  font-size: 0.9rem;
  font-weight: 200;
}

.input-container {
  padding: 0.5rem;
  background: #2f2f2f;
  display: flex;
  align-items: center;
  border-radius: 15rem;
  width: 48rem;
}

.input-container > input {
  width: calc(100% - 3rem);
  outline: none;
  padding: 1rem;
  color: white;
}

.input-container > input,
.send {
  background: transparent;
  border: none;
}

.important-info {
  font-size: 0.7rem;
  color: gray;
  margin: 1rem 0;
}
